body {
    text-align: center;
  }
nav {
    background-color: steelblue;
    padding: 10px;
}  
a {
    color: white;
    margin: 40px;
    flex-direction: flex;
}
h1 {
    color: steelblue;
}
img {
    width: 800px;
    border: 4px solid steelblue; 
    
}
.footer_paragraph {
    color:#f1f5f8ee; font-size: 2em;
}
p {
    padding: 10px; color: rgb(7, 25, 83);
}
footer {
    background-color: rgb(31, 108, 153);
    color: rgb(240, 217, 217);
}
p {
    padding: 10px; color: black;
}